[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
firebase-admin = "*"
Flask = "*"
flask-bootstrap4 = "*"
flask-login = "*"
flask-testing = "*"
Flask-WTF = "*"

[dev-packages]

[requires]
python_version = "3.8"
