<ul class="nav nav-pills nav-fill bg-dark mb-3">
    <li class="nav-item">
        <a class="d-flex justify-content-left ml-3 p-2" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/platzi.png') }}" alt="Platzi Logo">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('index') }}">Ir a inicio<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="https://platzi.com" target="_blank">Ir a Platzi</a>
    </li>
    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('auth.logout') }}" target="">Logout</a>
    </li>
    {% endif %}
</ul>