<ul class="nav nav-pills nav-fill bg-dark mb-3">
    <li class="nav-item">
        <a class="d-flex justify-content-left ml-3 p-2" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/platzi.png') }}" alt="Platzi Logo">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('index') }}">Index<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="https://platzi.com" target="_blank">Ir a Platzi</a>
    </li>
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
    {% endif %}
    {% if not current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('auth.signup') }}">Signup</a>
        </li>
    {% endif %}
</ul>